@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Inter&family=Montserrat&family=Plus+Jakarta+Sans&family=Poppins&family=Preahvihear&family=Roboto&family=Rubik&display=swap');

*{
    margin: 0px;
    padding: 0px;

}

.nav-bar{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width:97%;

}
.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-around;

}
.nav-bar li{
    color: var(--Black, #253D4E);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.hero{
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero h2{
    color: #DC582A;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 127%; /* 30.48px */
}
.hero h1{
    color: #FFF;
    width: 446px;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 127%; /* 50.8px */
}
.hero p{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 127%; /* 25.4px */
}
.herotext{
    position: absolute;
    left: 200px;
}

.searchRecipee{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
}
.searchRecipee input{
    border: 0px;
    display: flex;
    width: 60%;
    height: 22px;
    padding: 12px;
    align-items: center;
    text-align: center;
    gap: 7px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
    background: #F3F3F3;
}


.searchRecipee button{
    display: flex;
    border: 0px;
    width: 55px;
    height: 42px;
    padding: 21px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    color: white;
    font-family: Poppins;
    flex-shrink: 0;
    border-radius: 0px 2px 2px 0px;
    background: #509E2F;

}
.searchRecipee button:hover{
    cursor: pointer;
}

.typesOfR{
    top: 10px;
    position: relative;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 100px
}
.typesOfR div{
    display: flex;
    width:10%;
    height: 50px;
    padding: 30px 29.8px 30px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-family: Poppins;
}
.typesOfR div:hover{
    cursor: pointer;
    background-color: #253D4E;
    transform: scaleY(1.1);
    transition: 0.3s ease-in-out;
}
.tor1{
    background-color: #EAAA00;
}
.tor2{
    background-color: #509E2F;
}
.tor3{
    background-color: red;
}

.recipee{
    top:20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    
}
.filters{
    display: flex;
    width:284px;
    gap: 20px;
    flex-direction: column;
  
    align-items: center;
}
.filters h1{
    color: #252525;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.filters h2{
    color: #252525;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.filters ul{
    list-style: none;

} 
.filters li{
    color: #253D4E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.allrecipee{
    display: flex;
    width: 70%;
    gap: 20px;
    flex-direction: row;
    height: 1000px;
    flex-wrap: wrap;
    padding: 50px;
    }
.card{
   
    display: flex;
    top: 100px;
    flex: 0 0 calc(32.33% - 10px);
    flex-direction: column;
    
    height: 315px;
    border-radius: 16px;
    background-color: #ffffff;
   padding:5px ;
   box-sizing: border-box;

/* Shadow/shadow-sm */
box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}
.card img{
    align-self: center;
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
}
.cardBody{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;

}
.vegornon{
    color: #A1A1A1;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 240%; /* 240% */
    align-self: left;
    width: 100%;
    align-self: center;
}
.c1{
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
    align-self: center;

}
.c1 h1{
    color: #252525;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 120% */
}
.c1 img{
    display: flex;
    width: 16px;
    height: 16px;
    padding: 1.667px 1.332px 1.666px 1.333px;
    justify-content: center;
    align-items: center;
}
.c2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;

}
.c2 h1{
    color: #DC582A;

/* Headings/h3 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.523%; /* 27.305px */
}

.c11{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.c11 p{
        color: var(--Grey, #ADADAD);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.c2 img{
        width: 22px;
    height: 22px;
    flex-shrink: 0;
}

#likeMe:hover{
    cursor: pointer;
}
#likeMe{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    transition: transform 0.2s ease-in-out;
  }
  
.liked{

    display: flex;
    flex-direction: row;
    gap: 10px;
}
.notliked{
    border: none;
    background-color: transparent;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.filters ul{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: flex-start;
}


footer{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 800px;
    padding: 60px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: baseline;
}
.f1{
    color: #253D4E;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 261px;
    gap:26px
}
.f2{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.f2 h1{
    color: #253D4E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
}
.f2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.f2 li{
    color: var(--black-alpha-60, rgba(0, 0, 0, 0.60));
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
.f3{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.f3 h1{
    color: #253D4E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 130% */
}
.f3 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.f3 li{
    color: var(--black-alpha-60, rgba(0, 0, 0, 0.60));
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
}
.f4{
    display: flex;
    flex-direction: column;
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}
.f4 img{
    width: 96px;
    height: 46px;
}
.f4 p{
    color: var(--black-alpha-60, rgba(0, 0, 0, 0.60));
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.28px;
    align-self: stretch;
}
.f4 div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.f4 input{
    display: flex;
    width: 290px;
    padding: 12px 16px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;

    border-radius: 4px;

    background: var(--grey-05, #cdd1d3);
    border: 0px;
    
}
.f4 button{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: #509E2F;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.16) inset;
    border: 0px;
    color: white;
}
.social-media{
    position: relative;
    top: 800px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.social-media div{
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.sfrc{
    position: relative;
    top: 100px;
    padding: 110px;
   
}
.searchforRecipee{
  

     color: #252525;
     font-family: Poppins;
     font-size: 22px;
     font-style: normal;
     font-weight: 600;
 
     line-height: normal;
 }

@media screen and (min-width: 768px) {
    .hamburger-menu{
        display: none !important;
    }
}


 @media screen and (max-width: 768px) {
    .menu-items{
        display: none !important;
    }
   .hero img{
    width: 100%;
   }
   .hero h1{
    font-size: 1em;
   }

   
   
    .recipee{
        flex-direction:column;
        align-items: stretch; /* Stretch boxes to fill the container width */
        overflow-x: hidden;
       
        width: 100%;
        flex-wrap: nowrap;

    }
    .searchRecipee i{
        display: none !important;
    }
    
    .card {
        flex: 0 0 auto; /* Allow boxes to expand to full width on smaller screens */
        margin: 5px; /* Adjust the margin as needed */}
 
        
        .f2,.f3,.f4{display: none!important;}
 
    
    
    
        .typesOfR{
            padding-left: 0px !important    ;
        }
    
    
    
    
    
    }

.liked:hover{
    cursor: pointer;
}
.notliked :hover{
    cursor: pointer;
}


.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    width: 30px;
    height: 20px;
    margin-right: 20px; /* Adjust the margin as needed */
}

.bar {
    background-color: #509E2F;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-items li {
    padding: 10px;
    text-align: center;
}


